#display-font{
    font-family: 'Yeseva One', cursive;
    color: rgb(57, 145, 140);
    text-align: left;


}

body {
    background-color: lightgrey;
    font-family: 'Raleway', sans-serif;    
    line-height: 34px;

  }

  .jumbotron {
    background: url('../images/sarahcox.jpg') no-repeat center center fixed;
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

#nav-title {
    color: lightseagreen;
    font-family: 'League Script', cursive;

}

a {
    color: lightseagreen;
}

h1 {
    color: lightseagreen;
}

h2 {
    text-align: center;
}

.main-content{
    margin-top:10em;
    margin-bottom: 3em;
    padding-top:1em;
    padding-bottom: 3em;
}

#contactbutton {
    background-color:lightseagreen;
}

#mid-container {
    background-color:white;
    margin-top:3em;
    margin-bottom: 3em;
    padding-top:1em;
    padding-bottom: 3em;
}

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightseagreen;
    color: black;
    text-align: center;
}
